<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>ASR HTTP Server</title>
    </head>
    <body>
        <!--<form enctype="multipart/form-data" action="/upload" method="POST">-->
            <!--<input type="file" name="wav_file" />-->
            <!--<input type="submit" value="upload" />-->
        <!--</form>-->
        <audio id="player"></audio>
        <script src="{{ static_url("client.js") }}" type="text/javascript"></script>
    </body>
</html>